/* 

  Table of Content
  1. General Settings
  2. navbar

  
*/

/* 1. General Settings */

@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Open+Sans&family=Roboto:wght@300&display=swap");

:root {
  --theme-primary: #120d3e;
  --theme-secondary: #dc0303;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: white;
}
html {
  font-size: 62.5%;
  font-family: "Hind", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}
p {
  line-height: 1.5;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: white;
}
input,
textarea {
  border: none;
  outline: none;
  background-color: transparent;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  position: relative;
}

.app {
  width: 100%;
  position: relative;
  min-height: 100vh;
}

/* 1. navbar */

.navbar {
  height: 120px;
  display: flex;
  width: 100%;
  font-size: 1.6rem;
  position: fixed;
  top: 0;
  z-index: 999;
  display: flex;
  flex-direction: column;
}

.navbar__side {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--theme-primary);
  height: 50px;
  gap: 30px;
}
.navbar__side a:hover {
  text-decoration: underline;
}
.navbar__main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  background-color: white;
  height: 70px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 2px;
}
.navbar__main div {
  height: 27px;
}

.navbar__main a {
  color: var(--theme-primary);
  font-size: 1.8rem;
  margin-right: 20px;
}
.navbar__main a:hover {
  text-decoration: underline;
}
.navbar__main__nav-items-container {
  display: flex;
  align-items: center;
}
.navbar__main img {
  height: 27px;
  margin-right: 20px;
  cursor: pointer;
}

.fa-bars {
  color: #fff;
}

.fa-times {
  color: #fff;
  font-size: 2rem;
}

.navbar__main img.nav-menu-icon {
  width: 25px;
  height: 25px;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  height: fit-content;
  transform: scaleY(0);
  transition: all 0.5s cubic-bezier(0.78, 0.3, 0.1, 0.8);
  transform-origin: top;
  background-color: white;
  left: 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 2px;
  width: 100vw;
  padding-left: 0;
  opacity: 0.6;
}

.nav-menu.active {
  opacity: 1;
  transform: scaleY(1);
}
.nav-item {
  padding: 0 50px;
}
.nav-links {
  color: #000;
  text-align: center;
  padding: 2rem;
  width: 100%;
  display: table;
  border-bottom: 1px solid rgb(245, 245, 245);
}

.nav-links:hover {
  text-decoration: none;
  background-color: rgb(243, 243, 243);
}

/* 2. HOME */
.landing-page {
  padding-top: 120px;
  min-height: 100vh;
  font-size: 3.5rem;
}
.landing-page-img {
  width: 100%;
}

.home-landing__top-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px;
  padding-bottom: 100px;
}
.home-landing__top-section h2 {
  color: #120d3e;
  font-size: 3.8rem;
}
.home-landing__top-section p {
  color: #cecece;
  font-size: 1.8rem;
}
.home-landing__top-section__content {
  display: flex;
  margin-top: 100px;
}

.home-landing__top-section__content-container {
  width: 220px;
  height: 220px;
  margin-right: 80px;
  border-radius: 50%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.home-landing__top-section__content-container::after {
  content: "";
  width: 80px;
  height: 2px;
  left: 100%;
  background-color: #d9f5db;
  position: absolute;
}
.home-landing__top-section__content-container:last-child:after {
  display: none;
}
.home-landing__top-section__content-container p {
  font-size: 1.6rem;
  text-align: center;
  width: 75%;
  color: var(--theme-primary);
}

.home-landing__top-section__content-container div {
  position: absolute;
  top: -20px;

  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.home-landing__top-section__content-container div h5 {
  font-size: 2rem;
  color: var(--theme-secondary);
}

.home-landing__top-section__content-container div img {
  width: 100%;
}

.home-landing__top-section .anchor {
  background-color: var(--theme-secondary);
  margin-top: 100px;
  padding: 20px 200px;
  border-radius: 20px;
  font-size: 2rem;
}

.home-landing__carousel {
  height: 700px;
  padding: 0 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f2f2f2;
  align-items: center;
}
.home-landing__carousel__content {
  width: 500px;
  height: 500px;

  position: relative;
}
.home-landing__carousel__content div {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: white;
}
.home-landing__carousel__content div img {
  width: 100%;
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.home-landing__carousel__content h5 {
  font-size: 2.6rem;
  color: #dc0303;
  width: 80%;
  margin: 15px auto 15px;
}
.home-landing__carousel__content p {
  font-size: 1.6rem;
  color: #120d3e;
  width: 80%;
  margin: auto;
}
.home-landing__carousel__content div a {
  font-size: 1.6rem;
  color: var(--theme-secondary);
  display: flex;
  align-items: center;
  width: 80%;
  margin: 20px auto;
}
.home-landing__carousel__content div a:hover {
  text-decoration: underline;
}

.home-landing__carousel__content div a img {
  height: 15px;
  width: 15px;
  margin-left: 10px;
}
.home-landing__carousel__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;
  width: 100%;
}

.home-landing__carousel__container__arrow {
  padding: 20px;
  cursor: pointer;
}

.home-landing__carousel__selections {
  z-index: 40;
  bottom: 20%;
  display: flex;
  transition: all 0.35s ease-out;
}

.home-landing__carousel__selections li {
  width: 25px;
  height: 30px;
  background-color: #dbdbdb;
  color: var(--theme-primary);
  margin-right: 15px;
  transition: all 0.2s ease-out;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding-top: 3px;
}

.home-landing__carousel__selections li.active {
  color: white;
  background-color: var(--theme-primary);
}

/* irisGO */
.irisGO {
  padding-top: 150px;
  height: 100vh;
  display: flex;
  font-size: 3.5rem;
  justify-content: center;
  align-items: center;
}

/* irisCITY */
.irisCITY {
  padding-top: 150px;
  height: 100vh;
  display: flex;
  font-size: 3.5rem;
  justify-content: center;
  align-items: center;
}

/* OwnerBenefits */
.ownerBenefits {
  padding-top: 150px;
  height: 100vh;
  display: flex;
  font-size: 3.5rem;
  justify-content: center;
  align-items: center;
}

/* Sectors */
.sectors {
  padding-top: 150px;
  height: 100vh;
  display: flex;
  font-size: 3.5rem;
  justify-content: center;
  align-items: center;
}

/* Regions */
.regions {
  padding-top: 150px;
  height: 100vh;
  display: flex;
  font-size: 3.5rem;
  justify-content: center;
  align-items: center;
}

/* Solution */
.solution {
  padding-top: 150px;
  height: 100vh;
  display: flex;
  font-size: 3.5rem;
  justify-content: center;
  align-items: center;
}

/* 3. Package Page */
.packagesLanding {
  margin-top: 150px;
  padding: 50px 150px;
}

.packagesLanding h1 {
  font-size: 3.8rem;
  margin-bottom: 30px;
  color: var(--theme-primary);
}

.packagesLanding__item-container {
  display: flex;
  gap: 50px;
}
.card {
  width: 370px;
  height: fit-content;
  cursor: pointer;
}
.card:hover {
  transform: scale(1.1);
}
.card img {
  width: 100%;
  height: 220px;
}
.card h5 {
  font-size: 2.8rem;
  margin: 20px 0 10px;
  color: #292929;
}
.card h4 {
  color: var(--theme-secondary);
  font-size: 1.8rem;
}
.card p {
  font-size: 1.8rem;
}
.card.selected {
  outline: 2px solid var(--theme-primary);
  outline-offset: 10px;
}

.packagesLanding__continue-btn {
  display: block;
  color: white;
  font-size: 2.4rem;

  background-color: var(--theme-primary);
  padding: 10px 30px;
  margin-top: 50px;
  width: fit-content;
}

/* 3. Cart Page */
.cartLanding {
  margin-top: 150px;
  padding: 50px 150px;
}
.cartLanding h2 {
  margin-bottom: 50px;
  font-size: 3.8rem;
  color: var(--theme-primary);
}

.cartLanding__item {
  width: 500px;
  background-color: #e7e7e7;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  padding: 20px;
  flex-direction: column;
}
.cartLanding__item h3 {
  font-size: 2.4rem;
  margin-bottom: 10px;
  color: var(--theme-secondary);
}
.cartLanding__item h4 {
  font-size: 1.6rem;
  color: #120d3e;
}

.cartLanding__btn {
  margin-top: 50px;
  font-size: 1.8rem;
  background-color: var(--theme-secondary);
  color: white;
  padding: 10px 25px;
}
